// Place all the styles related to the answers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer {
  margin-top: 5px;
  display: none;
}

.edit-answer-link {
  margin: 0 0 0 5px;
}

.best-answer-title {
  color: #3c763d;

  span {
    margin: 0 0 0 5px;
  }
}

.best-answer-btn {
  float: right;
  opacity: 0.4;
  &:hover {
    color: #f9f2f4;
    opacity: 0.7;
  }
}