// Place all the styles related to the questions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question {
  margin-top: 5px;
  display: none;
}

.delete-question-link {
  margin: 0 0 0 5px;
}

.edit-question-link {
  margin: 0 0 0 5px;
}

.votes {
  li {
    float: left;
  }
}